/* header section */

header {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 1670px;
    margin: 0 auto;
    padding: 30px 0px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation ul {
    list-style-type: none;
    display: flex;
    width: 660px;
    justify-content: space-evenly;
}

.consultation-btn {
    padding: 14px 35px;
    background: linear-gradient(180deg, #05968E 0%, #34B0A9 100%);
    border-radius: 30px;
    color: #FFFFFF;
}

/* hero section */

.hero {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 70px 0px
}

.hero-text {
    width: 600px;
}

.hero-heading {
    font-size: 3.125rem;
}

.australia {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.hero-sub {
    font-size: 1.5rem;
}

.hero-cta-wrapper, .about-cta-wrapper {
    width: 180px;
}

.hero-cta-btn, .about-cta-btn {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background: #E26161;
    border-radius: 30px;
    height: 48px;
}

.hero-cta-btn span {
    margin-left: 15px;
    line-height: 45px;
}

.cta-right-arrow {
    background: #FFFFFF;
    color: #E26161;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 15px;
}

.cta-right-arrow::before {
    content: "→";
    line-height: 37px;
}

/* body */
.container {
    width: 1170px;
    margin: 0 auto;
}

.services-section {
    background-image: url("../images/dot-grid.png");
    background-repeat: repeat;
    padding: 60px 0px 100px 0px;
}

.services {
    text-align: center;
}

.services span {
    font-size: 0.875rem;
}

.services span::after, .services span::before {
    content: "●";
    margin: 0px 10px;
}

.services h2 {
    font-size: 2.25rem;
    margin: 10px auto 40px auto;
}

.service-item-container {
    display: flex;
    background: linear-gradient(145deg, #22605C, #34B0A9);
    box-shadow: 30px 30px 65px rgba(52, 176, 169, 0.3);
    border-radius: 20px;
}

.service-item {
    width: 390px;
    color: #FFFFFF;
    position: relative;
    padding-top: 50px;
    border-right: 1px solid rgba(255,255,255,.3);
}

.service-item:last-child {
    border-right: none;
}

.service-item p {
    width: 250px;
    margin: 0px auto 65px auto;
}

.service-cta {
    font-size: 0.875rem;
    background: #E26161;
    box-shadow: 0px 4px 4px rgba(226, 97, 97, 0.3);
    border-radius: 30px;
    width: 230px;
    padding: 10px 0px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -115px;
}

.about-section {
    display: flex;
    width: 1170px;
    margin: 0 auto 90px auto;
}

.about-content {
    width: 585px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
}

.about-us::before {
    content: "●";
    margin-right: 10px;
}

.about-us {
    font-size: 0.875rem;
}

.about-content h2 {
    font-size: 2.25rem;
    margin-top: 10px;
}

.about-sub-head {
    font-size: 1.375rem;
    margin: 0;
}

.about-cta-btn span {
    line-height: 45px;
    margin-left: 23px;
}

.about-cta-btn {
    background: #34B0A9;
}

.cta-right-arrow-teal {
    color: #34B0A9;
}

/* Free Consultation */
.free-consultation-section {
    height: 300px;
    background: url("../images/free-consultation.png") no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.free-consultation-section p {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

.form-container {
    width: 655px;
    height: 60px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
}

input[type=url] {
    width: 250px;
    margin-left: 10px;
}

input[type=email] {
    width: 200px;
    margin-left: 10px;
}

input[type=url] {
    border-right: 1px solid grey;
    margin-left: 10px;
}

.form-container form {
    display: flex;
    justify-content: center;
}

button[type=submit] {
    background: #34B0A9;
    /* padding: 14px 0px 14px 16px; */
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    height: 48px;
}

.consultation-cta-wrapper {
    width: 162px;
    margin-left: 5px;
}

.consultation-cta-btn {
    border: none;
    background: #34B0A9;
}

.consultation-cta-btn span {
    /* line-height: 45px; */
    margin-left: 5px; 
}

.cta-right-arrow-consultation {
    background: #FFFFFF;
    color: #34B0A9;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
}

.cta-right-arrow-consultation::before {
    content: "→";
    line-height: 37px;
}

/* footer styles */
.footer-section {
    background: linear-gradient(290deg, #34B0A9 0%, #22605C 56.16%);
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    padding-top: 90px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-brand .footer-social {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    flex-grow: 1;
}

.footer-social>li {
    list-style: none;
    margin: 0px 20px 0px 0px;
}

.footer-nap-item {
    display: flex;
    color: #FFFFFF;
    margin-bottom: 20px;
    align-items: flex-start;
}

.footer-nap-item img {
    margin-right: 10px;
}

.footer-nap-item p {
    margin: 0;
}

.footer-title {
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: bold;
}

.footer-menu-list {
    padding: 0;    
}

.footer-menu-list li {
    list-style: none;
    line-height: 1.5rem;
}

.footer-menu-list li>a {
    color: white;
    text-decoration: none;
}

.footer-contact-form {
    display: flex;
    flex-direction: column;
}

.footer-contact-form input, textarea {
    margin: 0px 0px 10px 0px;
    width: 80%;
    padding: 5px 0px 5px 5px;
    color: #22605C;
    border-radius: 5px;
}

textarea {
    border: none;
    resize: none;
}

.footer-contact-form input:last-child {
    background-color: #22605C;
    color: white;
    width: 50%;
    padding: 10px 0px;
}

.copyright {
    /* width: 1170px; */
    flex: 1 0 100%;
    margin: 50px 0px;
    color: #FFFFFF;
    border-top: 1px solid rgba(255,255,255, .3);
    padding-top: 20px;
}

.footer-brand, .footer-menu, .footer-contact {
    flex: 1;
}