/* header section */

header {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 1670px;
    margin: 0 auto;
    padding: 30px 0px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation ul {
    list-style-type: none;
    display: flex;
    width: 660px;
    justify-content: space-evenly;
}

.consultation-btn {
    padding: 14px 35px;
    background: linear-gradient(180deg, #05968E 0%, #34B0A9 100%);
    border-radius: 30px;
    color: #FFFFFF;
}

/* hero section */

.hero {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 70px 0px
}

.hero-text {
    width: 600px;
}

.hero-heading {
    font-size: 3.125rem;
}

.australia {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.hero-sub {
    font-size: 1.5rem;
}

.hero-cta-wrapper {
    width: 180px;
}

.hero-cta-btn {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background: #E26161;
    border-radius: 30px;
    height: 48px;
}

.hero-cta-btn span {
    margin-left: 15px;
    line-height: 45px;
}

.cta-right-arrow {
    background: #FFFFFF;
    color: #E26161;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 15px;
}

.cta-right-arrow::before {
    content: "→";
    line-height: 37px;
}

/* body */
.container {
    width: 1170px;
    margin: 0 auto;
}

.services-section {
    background-image: url("../images/dot-grid.png");
    background-repeat: repeat;
    padding: 60px 0px;
}

.services {
    text-align: center;
}

.services span {
    font-size: 0.875rem;
}

.services span::after, .services span::before {
    content: "●";
    margin: 0px 10px;
}

.services h2 {
    font-size: 2.25rem;
    margin: 10px auto 40px auto;
}

.service-item-container {
    display: flex;
    background: linear-gradient(145deg, #22605C, #34B0A9);
    box-shadow: 30px 30px 65px rgba(52, 176, 169, 0.3);
    border-radius: 20px;
}

.service-item {
    width: 390px;
    color: #FFFFFF;
    position: relative;
    padding-top: 50px;
    border-right: 1px solid rgba(255,255,255,.3);
}

.service-item:last-child {
    border-right: none;
}

.service-item p {
    width: 250px;
    margin: 0px auto 65px auto;
}

.service-cta {
    font-size: 0.875rem;
    background: #E26161;
    box-shadow: 0px 4px 4px rgba(226, 97, 97, 0.3);
    border-radius: 30px;
    width: 230px;
    padding: 10px 0px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -115px;
}